html, body {margin:0; padding:0; font-family:'Open Sans', Arial, sans-serif;}
a {color:#660000; text-decoration:underline;}
a:hover {text-decoration:none;}
.main {margin:auto; max-width:100%; height:auto; color:#333; position:absolute;}
nav {position:fixed; width:100%; background:#cc3333; box-shadow:inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(0,0,0,0.075);}
.head {width:50%; float:left; padding:10px; text-align:center; color:#fff; font-size:2em; font-weight:bold; font-family:'Indie Flower', sans-serif;}
nav ul {float:right; margin-right:50px; line-height:40px;}
nav a {color:#fff; text-decoration:none; padding:25px 20px 25px;     transition:all ease 0.8s;}
nav a:hover {background:#990000;}
ul>li {display:inline-block;}
header {height:600px; padding:10px 20px;}
section {height:300px; padding:10px;}
.contact {padding:10px; background:#cc3333; color:#fff; text-align:center;}
